.profile__info {
    display: grid;
    grid-template-columns: 169px 1fr;
    column-gap: 0;
}

@media screen and (max-width: 1024px) {
    .profile__info {}
}

@media screen and (max-width: 768px) {
    .profile__info {
        /* display: flex;
        flex-direction: column;
        */
        grid-template-columns: 210px 1fr;
        margin: 0 auto;
        padding-left: 10px;
    }
}

@media screen and (max-width: 450px) {
    .profile__info {}
}